.footer__social-icons{
  padding: 20px 0 16px 0;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.social__icons_link {
  text-decoration: none;
  color: white;
}
.footer-icon {
  padding-right: 10px;
}
