* {
  margin: 0;
  padding: 0;
  }
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.logo__place_header_pic {
  position: absolute;
  height: 32px;
  width: 228px;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  font-weight: 600;
  line-height: 96px;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  z-index: 2;
}


.header__subtitle {
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;


}
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}
.main__illustration_pic {
  position: absolute;
  right: 0;
  bottom: 0px;
  height: 608px;
  width: 765px;
  object-fit: fill;
}


.description {

}
.two-colums {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.two-colums__brief {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.2;
  width: 175px;
  color: #2f80ed;
}

.two-colums__main-text {
  min-width: 784px;
  width: 80%;
}

.two-colums__paragraph {
  margin-top: 0px;
  line-height: 34px;
  font-size: 24px;
}
.two-colums__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.techniques{
  margin-top: 100px;
  margin-left: auto; 
  margin-right: auto;
  width: 80%;
  border: solid red;
  border: solid red;
}
.section-title__techniques{
  margin-top: 100px;
  width: 60%;
  border: solid red;
}
.section-subtitle__techniques{
  width: 60%;
  border: solid red;
}
.cards{
  border: solid red;
  /* width: 80%; */
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  padding: 0;
}
.cards__item{
  padding: 0;
  max-width: 250px;
  text-align: center;
  width: 920px;
}
.cards__image{
  border-radius: 50%;
  height:160px;
  width:160px;
  margin: 60px 40px 43px 40px;
}
.cards__title{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.cards__description{
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
.video{
  margin-top: 100px;
  border: solid red;
  text-align: center;
}
.video__iframes{
  border: 5px solid rgb(0, 255, 34);
  
  
}
/* #id ytplayer{
display: flex;
  justify-content: space-between;
} */
.oakley{
  margin-top: 160px;
}
.digits {
  margin-top: 100px;
}
.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}
.section-subtitle {
  width: 60%;
  margin: 20px auto 60px;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
}
.table {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
}
.table__cell:nth-of-type(n) {
  margin-bottom: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}
.khan{ 
  margin-top: 100px;
  background-color: #f2f2f2;
  /* костыль */
  border: solid #f2f2f2;
}
.khan__container{
  margin: 105px auto 0 auto;
  max-width: 80%;
 
}
.khan__book-container{
  margin-top: 68px;
  display: flex;
  
}
.khan__auhor{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.khan__quote{
  width: 790px;
  margin: 50px 0 36px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author{
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.khan__quote-auhor-subline{
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}
.khan__book-pic{
  width: 608px;
  height: 620px;
}
.khan__buy-link{
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.feynman {
  box-sizing: border-box;
  position: relative;
  margin-top: 100px;
  background-color: #f2f2f2;
}
.feynman-illustration_pic {
  width: 867px;
  height: 637px;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__title {
  margin: 100px auto;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}
.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.kaufman {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  position: relative;
  padding-bottom: 90px;
  z-index: 1;
}

.section-title_theme_dark {
  width: 60%;
  margin-top: 90px;
  color: #fff;
}
.section-subtitle_theme_dark {
  width: 60%;
  margin-top: 20px;
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}
.resources{
  margin-top: 100px;
}
.resources__logo-zone{
  width: 1100px;
  margin: auto;
}
.resources__link{
  width: ;
  margin: 80px auto 217px auto;
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  min-height: 350px;
  padding-top: 60px 0 40px 0;
  background-color: black;
  justify-content: center;
}

.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-direction: row;
  box-sizing: border-box;
}
.footer__column__content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  color: #fff;
}
.footer__column__content_info {
  display: flex;
  flex-direction: column;
}
.footer__column-heading {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 600px;
  font-size: 18px;
  line-height: 30px;
}

.footer__column-links {
  padding: 20px 0 16px 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 30px;
}
.column-heading__social {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
.social-icons {
  padding: 20px 0 16px 0;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.social-icons__link {
  text-decoration: none;
  color: white;
  display: flex;
}
.logo__place_footer_pic {
  width: 228px;
  height: 32px;
}
.author {
  padding: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer-icon{
  padding-right: 10px;
}
