.page {
  
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  border: 2px solid rgb(241, 27, 27);
  /* выше установили ограничения для секции */
}

.logo_place_header_pic {
  position: absolute;
  height: 32px;
  width: 228px;
  top: 30px;
  left: 64px;
  border: 2px solid rgb(241, 27, 27);
}


.header_title{
  align-self: center;
  font-weight: 600;
  line-height: 96px;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 96px;
  border: 2px solid rgb(241, 27, 27);
  z-index: 2;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header_subtitle{
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  font-size: 18;
  width: 388px;
  bottom: 30px;
  left: 64px;
  border: 2px solid rgb(241, 27, 27);
  /* z-index: 1; */
}
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  border: 2px solid rgb(241, 27, 27);
 
}
.main-illustration_pic {
  position: absolute;
  right: 0;
  bottom: 0px;
  height: 608px;
  width: 765px;
  border: 2px solid rgb(241, 27, 27);
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.two-colums{
  margin: 100px;
  border: 3px solid rgb(14, 63, 224);
}
.two-colums_brief{
  border: 2px solid rgb(241, 27, 27);
}

.two-colums_main-text{
  border: 2px solid rgb(241, 27, 27);
}
.two-colums_paragraph{
  border: 2px solid rgb(27, 241, 63);
}
